/* Import Material Theme */
/*@import '/node_modules/@angular/material/core/theming/prebuilt/indigo-pink.css';*/


@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
     url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
     url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Reset */
html,
body,
div {
    border: 0;
    margin: 0;
    padding: 0;
    color: #666; 
}

/* Box-sizing border-box */
* {
    box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
    background-color: #e6e6e6;
    font-family: Roboto-Regular, "Helvetica Neue", sans-serif !important;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 90%;
    padding-bottom: 25px;
}
.mat-card{
    font-family: Roboto-Regular, "Helvetica Neue", sans-serif !important;
}

/*********  Fixed Tool Bar *********/
mat-toolbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}
/*********  Fixed Tool Bar *********/

p {
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #666;
}
.right-panel{
    /*width: 81%;*/
    margin-left: 240px;
    padding: 0 25px !important;
    margin-top: 90px;
    margin-bottom: 25px;
    display: block;
}
.home-input{
    width: 100% !important;
    font-size: 13px !important;
}
md-sidenav .mdl-cell{
    min-height: 45px;
    padding: 13px 0 0 0;
}
.mat-nav-list {
    padding-top: 0 !important;
}
.left-panel{
    width: 240px;
    position: absolute;
    height: 103.3% !important;
    border: none !important;
    background-color: #008690;
    padding: 0px !important;
    top: -25px;
}
.left-panel::after{
    content: "";
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.login-info :focus {
    outline: -webkit-focus-ring-color auto 1px;
}
/*md-checkbox:focus {
    outline: -webkit-focus-ring-color auto 0px;
}*/
.border{
    border: solid #666 1px;
}
.borderbottom{
    padding: 4px 0 4px 10px;
    border-bottom: solid #666 1px;
    margin: 0 0 -1px 8px;
}
.maxheight{
    min-height: 350px;
    max-height: 350px;
    overflow: auto;
}
.minwidth{
    min-width: 50px !important;
}
sd-navbar{
    width: 240px;
    position: absolute;
    height: 100%  !important;
    border: none !important;
    background-color: #008690;
    padding: 0px !important;
}
.mdl-chip--deletable{
   background-color: #00BCD4;
   color:#ffffff;
}
[mat-raised-button].md-primary, [md-fab].md-primary, [md-mini-fab].md-primary {
        background-color: #1b736b;
    border-radius: 25px;
    font-size: 12px !important;
    line-height: 27px;
    margin-top: -7px;
    position: relative;
    top: -15px;
}
[mat-raised-button].md-cancel, [md-fab].md-cancel, [md-mini-fab].md-cancel {
    background-color: none;
    border: solid 1px #1b736b;
    color: #1b736b;
    font-weight: 600;
    border-radius: 25px;
}
.icon-right{
    border: 1px solid #ddd;
    border-radius: 550%;
    height: 35px;
    width: 35px;
    padding: 6px 1px 0 0px;
    position: relative;
    margin-top: 8px;
    font-size: 20px;
    text-align: center;
}
.input-logo{
    width: 40px;
    height: 40px;
    margin: 3px 25px 0 2px;
    position: relative;
    float: left;
    border: 1px solid #666;
}
.material-icons{
    font-size: 20px;
    color: #0071bc;
    cursor: pointer;
}
.md-toolbar-layout .material-icons{
    color: #707172;
}
mat-toolbar.mat-primary {
    background: #d8d7d6 !important;
    padding: 0px;
    border-bottom: 1px solid #adacac !important;
}
.logo{
    width: 240px;
    background-color: #006575;
    height: 66px;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
}
.text-right{
    text-align: right !important;
}
.description-area .md-input-element{
    height: 80px;
}
.spacer{
    flex: 100 0 auto;
}
.right-align-btn{
    float: right;
}
.nopadding{
    padding: 0px;
}
.nomargin{
    margin: 0px !important;
}
.margL0{
    margin-left: 0px;
}
.margR0{
    margin-right: 0px;
}
.text-right{
    text-align: right;
}
.section-header-right-col{
    position: relative;
    left: 16px;
    top: -7px;
}
.mdl-chip--deletable{
   background-color: #00BCD4;
   color:#ffffff;
}
.home-button {
  font-size: 14px;
}
.md-radio-label{
    margin-right: 15px;
}
.md-radio-label .md-radio-container{
    top: 6px;
}
.md-radio-container .md-radio-outer-circle, .md-radio-container .md-radio-inner-circle{
    height: 17px;
    width: 17px;
}
.check-box-lable{
    top: 15px;
    position: relative;
}
.text-bold{
    font-weight: bold;
}
.text-black{
    color: #000;
}
.row-bg{
    background-color: #f1f1f1;
}
.table-row-btn{
    padding: 3px 7px 4px 9px;
    border: 0px solid;
    border-radius: 13px;
    background-color: #008690;
    color: #fff;
    text-align: center;
    margin: 0 15px 0 0;
    position: relative;
    top: -3px;
    font-size: 12px;
}
.deny-btn{
    background: transparent;
    border: 1px solid #008690;
    color: #008690;
    position: relative;
    left: 7px;
}
.upload-file-btn{
    float: left;
    padding: 2px 20px 2px 15px;
    border-radius: 15px;
    border: 1px solid #666;
    font-size: 12px;
    margin-top: 12px;
    cursor: pointer;
    color: #666;
}
.upload-file-btn .material-icons{
    float: left;
    color: #666;
}
.employee-table .md-checkbox-layout{
    vertical-align: middle;
}
button.btn-small{
    padding: 0px 10px 0 13px;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    min-width: 70px;
}
.user{
    float: right;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    line-height: 15px;
    margin-top: 5px;
}
.user-name{
    float: right;
    font-size: 14px;
    color: #666666;
}
.user-role{
    float: right;
    clear: both;
    font-size: 12px; 
    color: #666666;
}
.user-dropdown{
    float: right;
    min-width: 160px;  
    padding: 5px 0 0 0;
    margin-left: 15px;
}
.user-profile-pic{
    float: right;
    margin: -5px 0 0 0; 
    background: no-repeat;
    border: none;
    height: 40px;
    width: 40px;
    position: relative;
}
.router-link-active{
    background-color: #0e6f7c;
    color: #4a535c;
    margin: 0;
    padding: 13px 8px 8px 15px;
    width: 100%;
    position: absolute;
    top: 0;
    height: 45px;
    border-left: 5px solid #22b573;
}
.router-link-active span{
    color: #fff;
}
.left-panel-list{
    margin: 0px 0px 0px 0;
    padding-right: 0 !important;
    position: relative;
    width: calc(100% - 0px);
}
md-card, mat-card{
    box-shadow: none !important;
    border: 1px solid #cccccc;
}
.mat-input-placeholder {
    color: #707172;
}
 mat-card-title{
    font-size: 18px !important;
    color: #0071bc;
 }    
table td{
    font-size: 12px !important;
}
.md-checkbox-layout .md-checkbox-inner-container{
    height: 15px;
    width: 15px;    
}
.md-checkbox-layout .md-checkbox-frame {
    background-color: #f4f4f4;
    border: 1px solid #666;
}
.md-checkbox-layout .md-checkbox-label{
    font-size: 13px;
    color: #454545;
}
mat-toolbar mmat-toolbar-row{
    border-bottom: 1px solid #adacac !important;
}
md-sidenav md-nav-list a {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
md-card{
    background-color: #fff;
}
textarea{
    resize: none !important;
    min-height: 100px;
    max-height: 300px;
}
.alert-danger{
    border: 1px solid #ebccd1;
    padding: 15px 0 15px 15px;
    border-radius: 5px;
    background-color: #f2dede;
    color: #a94442;
}
.warning-icon{
    color: #a94442;
    font-size: 26px !important;
    position: relative;
    top: 3px;
    margin-right: 10px;
}
td .material-icons{
    cursor: pointer;
    margin: 0 7px 0 0;
}
md-sidenav md-nav-list a{
    padding-left: 20px;
}
.home-button.mat-raised-button{
    line-height: 25px;
    background-color: #008690;
    color: #fff !important;
    font-size: 12px !important;
    border-radius: 12px;
    padding: 0 20px;
    font-weight: normal;
    box-shadow: none !important;
}
.section-header{
    min-height: 42px;
    padding: 0 0 10px 0;
    margin-top: -13px;
}
.section-footer{
    height: 48px;
    padding-right: 0px;
    margin-top: -15px;
}
.section-footer .home-button{
    margin: 20px -15px 0 35px !important;
    padding: 4px 0px 4px 0;
    min-width: 100px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 15px !important;
}
.mat-input-wrapper{
    margin: 0em 0 0em 0 !important;
}
.mat-form-field-wrapper{
    padding-bottom: 0 !important; 
}
.mat-input-container{
    margin-bottom: 15px ;
}
.carrier-filter{
    margin: 0 15px 5px 0px;
}
.mat-checkbox-inner-container{
    background-color: #fff;  
    cursor: pointer;
}
.mat-checkbox-input{
    visibility: hidden;
}
.mat-checkbox-frame{
    border-width: 1px  !important;
}
.mat-checkbox-inner-container{
    height: 16px !important;
    width: 16px !important;
    border-radius: 3px;
}
.mat-checkbox-checked .mat-checkbox-checkmark-path {
    stroke: #fff !important;
}
.filter-scroll{ 
    min-height: 25px;
    overflow: auto;
    max-height: 60px;
    margin-bottom: -5px;
    padding-left: 0;
}
.text-bold{
    font-weight: bold;
}
.table-search-col{
    height: 43px;
    margin-right: -5px;
}
.carrier-filter .mat-checkbox-label{
    font-size: 12px;
}
.mat-card-title{
    margin-top: -5px;
}
.mat-card{
    color: #666;
    padding: 25px;
}
.mdl-textfield{
    padding: 3px 0 10px 0;
}
.md2-select-trigger{
    font-size: 13px !important;
}
.mat-input-placeholder.mat-empty {
    font-size: 13px !important;
}
.text12{
    font-size: 12px;
}
.benefit-chips{
    color: #ffffff;
    height: 20px;
    background-color: #008690;
    margin: 0 25px 5px 0;
}
.mdl-chip__text{
    position: relative;
    top: -6px;
    line-height: 20px;
}
.mdl-chip__action{
    margin: 0 -6px 0 21px !important;
}
.mat-input-underline.mat-disabled{
    background-color: #000;
}
.md2-select-underline, .mat-input-underline .mat-input-ripple{
    background-color: #666 !important;
}
.md2-select-disabled .md2-select-value {
    color: rgba(0,0,0,.87) !important;
}
md2-select .md2-select-trigger {
    color: #666 !important;
}
.mat-radio-inner-circle{
    background-color: #008690;
}
.mat-radio-container{
    width: 0px !important;
}
.mat-radio-input{
    visibility: hidden;
}
.mat-radio-button{
    margin-right: 20px;
    font-family: Roboto-Regular,"Helvetica Neue",sans-serif !important;
}
.mat-radio-label-content{
    position: relative;
    top: -2px;
    padding-left: 25px !important;
    font-size: 13px;
}
.mat-radio-ripple{
    right: -30px !important;
}
.left-panel-icon{
    float: left;
    margin: -5px 10px 0 0;
}
.btn.mat-raised-button{
    font-weight: bold;
    font-size: 14px;
    padding: 0px 25px 0px 25px;
    box-shadow: none;
    line-height: 30px;
    border-radius: 35px;
    text-transform: uppercase;
}
.cancel-btn.mat-raised-button{   
    border: 1px solid #009966;
    color: #009966;
    box-shadow: none !important;
}
.cancel-btn.mat-raised-button:hover{
    background-color: #006837;
    color: #fff;
}
.primary-btn.mat-raised-button{  
    color: #fff;   
    background-color: #006575;
    border: 1px solid #006575;
    box-shadow: none !important;
}
.primary-btn.mat-raised-button:hover, .home-button.mat-raised-button:hover{
    background-color: #006837;
    border-color: #006837;
    color: #fff;
}
.mat-raised-button[disabled][disabled] {
    background-color: #006575;
    color: #fff !important;
    opacity: 0.5;
}
.mat-input-placeholder.mat-empty {
    font-size: 12px;
    color: #666;
}
.mat-input-element{
        color: #666 !important;
    font-weight: 600 !important;
}
.mat-focused .mat-input-placeholder.mat-float .mat-placeholder-required, input.mat-input-element:-webkit-autofill+.mat-input-placeholder .mat-placeholder-required{
    color: #666;
}
.mat-input-invalid .mat-input-placeholder, .mat-input-invalid .mat-placeholder-required {
    color: #666;
}
.mat-input-underline.mat-disabled {
    background-color: #666;
    height: 0px;
}
.mydp .mydpicon {
    font-family: mydatepicker !important;
}
.mydp .btnpicker{
    color: #666 !important;
}
.md2-option{
    line-height: 40px !important;
    height: 40px !important;
    padding: 0 20px !important;
    font-size: 14px !important;
    font-family: Roboto-Regular !important;
}
.md2-select-content{
    border: none !important;
}
.md2-select-panel-done-animating, .md2-select-panel {
    background: #fff !important;
    border: 1px solid #cccccc !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    margin-top: 15px;
}
.mat-input-placeholder, .mat-focused .mat-input-placeholder {
    color: #666 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #666 !important;
}
.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background{
    background-color: #666 !important;
}
.enrolllment-plan-outer{
    min-height: 110px;
    padding: 10px 10px 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ccc;
    position: relative;
}
.radio-btn-label{
    position: relative;
    top: 2px;
}
.premium{
    margin-top: -5px;
    margin-right: 0;
    float: right;
    position: absolute;
    right: 10px;
}
.mat-radio-group{
    margin: 11px 0 15px 0px;
}
.select-benefit-header{
    padding: 10px 0 10px 15px;
    background-color: #f2f2f2;
    font-weight: bold;
    margin-left: -2px;
}
.selected-benefit-row{
    min-height: 38px;
    border-bottom: 1px solid #cecece;
    font-size: 12px;
}
.total{
    background-color: #f2f2f2;
    color: #000;
}
.small-icon{
    font-size: 16px;
    color: #0071bc;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.benefit-image{
    margin: 0px;
    visibility: hidden;
}
.benefit-name{
   /* text-align: left !important;*/
}
.benefit-detail-header{
    border: 1px solid #ddd;
    height: 35px;
    line-height: 18px;
}
.benefit-total{
    margin: 0 0px 0 0;
    height: 25px;
    border: 1px solid #ddd;
    line-height: 7px;
    width: 100%;
    border-left: none;
    border-right: none;
}
.col-divider{
    border-right: 1px solid #ddd;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0;
}
.benefit-details{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.benefits-view-block{
    max-height: 315px;
    overflow: auto;
    margin-bottom: 5px;
}
.enrollment-master-tab.active-tab .triangle-left{
    right: -20px;
}
.link{
    cursor: pointer;
}
.mat-radio-container .mat-radio-outer-circle{
    height: 15px;
    width: 15px;
    border-color: #666 !important;
    border-width: 1px;
    border-color: #666 !important;
}
.mat-radio-container .mat-radio-inner-circle {
    height: 19px;
    left: -2px;
    top: -2px;
    width: 19px;
    background-color: #666 !important;
}
.coverage-container{
    padding: 0px !important;
}
.add-plan-container{
    color: #fff;
}
.cost-data-header div{
    color: #fff
}
.cost-data-container label{
    position: relative;
    top: 5px;
}
.header-radio-btn{
    float: right;
    position: relative;
    top: 2px;
    left: 10px;
    margin: 0;
}
.monthly-radio-btn{
    text-align: left;
    position: relative;
}
.custom-radio-group{
    position: absolute;
    top: 0;
    margin: 0 0 0 10px;
}
.add-plan-container .mat-radio-container .mat-radio-outer-circle{
    border-color: #fff !important;
}
.add-plan-container .mat-radio-container .mat-radio-inner-circle{
    background-color: #fac45f;
}
.location-col{
    height: 340px;
    overflow: auto;
}
.mydp .selection{
    padding-left: 0px;
}
.md2-select-placeholder.md2-floating-placeholder{
    transform: scale(.95) !important;
    color: #666;
}
.radio-btn-col{
    float: left;
    width: 160px;
}
.add-emp-radio .mat-radio-group{
    margin: 5px 0 0px 0px !important;
}
.add-emp-row{
    margin: 0 0px 20px 0;
    padding: 8px 0 8px 20px;
}
.add-emp-row .mat-input-container{
    margin-bottom: 0;
    margin-top: -8px;
}
.add-emp-row:first-child{
    margin-top: 15px !important;
}
.employee-type-container{
    max-height: 600px;
    overflow: auto;
    margin-bottom: 20px;
}
.tab-row{
     justify-content: flex-start;
    border-bottom: 1px solid #008690;
    height: 41px;
}
.tabs{
    width: 17%;
    height: 40px;
    padding: 0 10px;
    text-align: left;
    line-height: 40px;
    background-color: #d3e2e0;
    margin-right: 3px;
    color: #008690;
    text-align: center;
}
.tabs:last-child{
    margin-right: 0px;
}
.tabs.is-active{
    background-color: #008690;
    color: #fff !important;
}
.tabs-col-3 {
    width: 33.3%;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
    background: transparent;
}
.cost-tab-table table, #benefits-panel table{
    border: 1px solid #bdbcbc;
    border-bottom: none;
    border-right: none;
}
.cost-tab-table table tr:nth-child(odd){
    background-color: #e6e6e6;
}
.cost-tab-table .dataTables_filter, .cost-tab-table .dataTables_info,
.cost-tab-table .dataTables_paginate{
    display: none;
}
.cost-tab-table table.dataTable tbody th{
    font-weight: normal;
    color: #000;
    font-size: 16px;
    padding: 10px 10px;
}
.cost-tab-table table.dataTable.row-border tbody td {
    font-weight: normal;
    font-size: 14px !important;
    padding: 10px 10px;
}
#benefits-panel table td, #benefits-panel table th,
.cost-tab-table table td, .cost-tab-table table th{
    font-size: 13px !important;
    padding: 10px 20px;
    border-bottom: 1px solid #bdbcbc;
    border-right: 1px solid #bdbcbc;
}
.add-department-block{
    min-height: 100px;
    max-height: 150px;
    overflow: auto
}
.rate-text-field{
    margin-top: -5px !important;
    margin-left: -8px !important;
}
.divider{
    height: 1px;
    background-color: #ccc;
     width: 100%
}
.age-col{
    padding-top: 2px;
}
.supplimental-right-col{
        position: relative;
    left: 13px;
}
panavbar{
    height: auto !important;
}
.active-plan{
    box-shadow: 0px 0px 3px 0px #008690;
}
.signature-container .upload-file-btn{
    display: inline-block;
    text-align: center;
    margin: auto;
    float: none;
}
.signature-container{
    padding: 60px 0px 50px 0;
    border: 1px dashed #ccc;
    margin: 20px 0;
}
.green-text.disabled{
    opacity: 0.5
}
.active-tab.plan-master-tab .triangle-left{
    right: -21px;
}
.md2-select.ng-invalid{
    margin-bottom: 0px !important;
}
.mydp .selection{
    font-family: Roboto-Regular;
    font-size: 12px !important;
    padding-left: 0px !important;
    color: #666 !important;
    padding-top: 12px;
}
.rate-field{
    margin-top: -12px;
    margin-left: 15px;
    margin-right: 5px;
}
.radio-btn-row{
    position: relative;
    top: 4px;
}
.file-name{
    color: #0071bc;
}
.note{
    position: relative;
    top: -15px;
    left: 24%;
}
#toast-container > div{
    opacity: 1;
    padding: 10px 15px 10px 60px;
   /* border: 1px solid #589458;*/     
}
.toaster-icon{
    left: 10px;
}
.toast-content > div, .toast-message > div{
    color: #fff !important;
    font-size: 12px;
    font-weight: normal;
}
.add-dependent-container{
    min-height: 100px;
    border: 1px solid #ccc;
    padding-bottom: 15px !important;
}
.add-dependent-header{
    background-color: #f3f2f2;
    float: left;
    height: 35px;
    width: 100%;
    padding: 7px 25px;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 15px;
}
.name{
    position: absolute;
    margin: -8px 0 0 0;
}
.payroll-graph{
    width: 140px !important;
    float: left;
    height: 140px !important;
}
.dashboard-square{
    width: 80px;
    height: 95px;
    border-radius: 10px;
    padding: 10px 0 0 0;
    float: left;
    margin-top: 10px;
}
.dashboard-square p{
    margin:  0 0 -7px 0;
    line-height: 20px;
    color: #fff;
}
.dashboard-square p.count{
    margin: 7px 0px 1px 0;
    font-size: 18px;
}
.carrier-square{
    background-color: #c1854f;
}
.plan-administered{
    background-color: #7783bf;
}
.online-member{
    background-color: #d65498;
}
.upload-doc-list{
    float: left;
    width: 100%;
}
.dashboard-v-divider{
    margin: auto;
    left: 0 !important;
    height: 65px !important;
    margin-top: 15px !important;
}
.user-pic{
    float: left;
    width: 115px;
    height: 115px;
    overflow: hidden;
    text-align: center;
}
.left-panel .mat-nav-list{
    background-color: #008690;
}
.input-number-col{
    width: 25px !important;
    margin: -7px 0 0 5px;
}
.input-number-col .mat-input-container{
    margin-bottom: 0px !important;
}
.input-number-col .mat-input-underline, .coverage-input .mat-input-underline{
    border-color: #c3c3c3;
}
.coverage-input{
    margin: -8px 0 0 5px;
    height: 30px;
}
.message{
    width: 100px;
    margin: -15px 0 0 0;
}
.basic-life-content-row{
    min-height: 50px;
    background-color: #f2f2f2;
    padding: 5px 0 0 10px;
    display: flex;
    width: 102%;
    margin-bottom: 5px;
    font-weight: normal;
    position: relative;
}
.coverage-divider{
    width: 1px;
    background-color: white;
    height: 31px;
    margin: 0 10px 0 1px;
}
.small-check-box .mat-checkbox-inner-container{
    height: 13px !important;
    width: 13px !important;
}
.md2-select-panel{
     min-width: calc(100% + 0px) !important;
}
.cdk-overlay-pane {
    background-color: transparent !important;
    margin-left: 16px;
    overflow: hidden;
}
.user-logout{
    position: absolute;
    width: 170px;
    right: -3px;
    top: 43px;
    min-height: 47px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 10px 15px;
    box-shadow: 0 0 4px 0px #ccc;
    display: none;
}
.user .user-logout-option{
    display: block;
}
.logout{
    cursor: pointer;
}
.md2-select-placeholder.md2-floating-placeholder {
    top: -16px !important;
}
.datepicker-label{
    position: relative;
    z-index: 1;
    top: 15px;
    font-size: 12px !important;
}
.datepicker-col{
    margin-top: -13px;
    position: relative;
}
.form-layout .input-col:nth-child(odd){
    margin-left: 0;
}
.form-layout .input-col:nth-child(even){
    margin-right: 0;
    margin-left: 24px;
}
.add-beneficiary-row{
    min-height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 4px 0;
}
.beneficiary-row-container{
       max-height: 162px;
    overflow: auto;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.add-beneficiary-row:nth-child(odd){
    background-color: #f9f9f9;
}
.question-divider{
    float: left;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 5px;
}
.add-dependent-container{
        border: 1px solid #ccc;
}
.add-dependent-child{
        background-color: #eaeaea;
    padding: 5px;
    margin: 0 0 5px 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.add-dependent-child p{
    margin: 0px;
}
.add-dependent-container .mat-radio-label-content{
    font-size: 12px !important;
}
.qle-download-pdf, .qle-table-icon{
    color: #fff;
    border: 1px solid #0071bc;
    border-radius: 50%;
    font-size: 15px;
    background-color: #0071bc;
    padding: 1px;
}
.wave-btn{
    background-color: #12c1a0 !important;
    color: #fff !important;
    margin-top: 5px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
.wave-btn.green-text.disabled {
    border: 1px solid #12c1a0;
    color: #12c1a0 !important;
    background: none !important;
}
.mydp .icon-mydpremove:before{
    color: #919191;
}

.mat-select-underline{
    border-bottom: 1px solid #666 !important;
}
.mat-select-placeholder{
    font-size: 13px !important;
    color: #666;
    margin-top: 5px;
}
.mat-select-content{
    padding: 0 !important;
    border: 1px solid #ccc;
}
.mat-option {
    color: #666 !important;
    line-height: 40px !important;
    height: 40px !important;
    padding: 0 20px !important;
    font-size: 14px !important;
    font-family: Roboto-Regular !important;
    margin: 0px !important;
}
.mat-select-panel{
    margin-top: 10px !important;
}
.mat-select-value-text {
    font-size: 13px !important;
    margin-top: 5px  !important;
    font-weight: bold;
    color: #666;
    font-family: Roboto-Regular, "Helvetica Neue", sans-serif !important;
}
.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-arrow {
    color: #666;
}
.mat-select-placeholder.mat-floating-placeholder {
    top: -14px !important;
    transform: scale(0.95) !important;
}
.mat-select{
    margin-top: 3px;
}
employer-dashboard{
    margin-bottom: 0px !important;
}
dependent-dialog .mat-radio-label-content{
    padding-left: 20px !important;
} 
update-employee .md2-select-arrow{
    display: none;
}
.mat-radio-disabled .mat-radio-label-content{
    color: #666 !important;
}
.mat-input-invalid{
    margin-bottom: 0px !important;
}
.mat-focused{
    margin-bottom: 15px !important;
}
.view-all-btn.small-btn.mat-raised-button{
    padding: 2px 20px 2px 15px;
    border: 1px solid #666;
    color: #666 !important;
}
.view-all-btn.small-btn.mat-raised-button:hover{
    color: #fff !important;
}
.download-xml i{
    font-size: 14px;
    color: #828282;
    position: relative;
    top: 4px;
    margin-right: 5px !important;
}
.select-employee-coverage{
    width: 53%;
    margin-right: 1px;
}
emp-parent-enrollment .width100 div:first-child{
    margin-right: 10px;
}
dependent-dialog.dialog-panel{
    height: inherit !important;
    min-height: 150px !important;
    max-height: 450px !important;
}
.mat-form-field-underline {
    bottom: 0;
}
.mat-form-field,.mat-checkbox {
    font-family: Roboto-Regular, "Helvetica Neue", sans-serif !important;
}
.mat-form-field-underline.mat-disabled {
    background-image: none !important;
}
.mat-form-field-underline.mat-disabled{
    background-color: #666 !important;
}
.mat-checkbox-disabled .mat-checkbox-label{
    color: #666;
}
.mat-form-field-type-mat-select{
    margin-bottom: 10px !important;
}
.mydp .selectiondisabled {
    background-color: transparent !important;
    opacity: 1 !important;
}
.mat-select-arrow, .mat-select-disabled .mat-select-value {
    color: #666;
    font-weight: bold;
    font-family: Roboto-Regular, "Helvetica Neue", sans-serif !important;
}
confirmation p{
    margin-top: 0px !important;
}
/**************  Customize Table Style ***************/

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0px solid #cccccc;
    font-size: 12px;
    font-family: Roboto-Regular;
    text-shadow: none;
    border-top: 1px solid #cccccc;
}
table.dataTable thead th{
    color: #000;
    font-size: 13px;
    text-align: left;
}
.dataTables_wrapper .dataTables_filter{
    margin-bottom: 10px;  
    position: relative;
}
.odd{
    background-color: #e6e6e6 !important;
}
table.dataTable.row-border tbody td{
    border-top: 1px solid #bdbcbc !important;
    color: #666;
    font-weight: bold;
}
.dataTables_wrapper .dataTables_filter input{
    padding: 3px 3px 3px 22px;
    border: 0px solid rebeccapurple;
    border-bottom: 1px solid #919191;
    font-size: 13px;
    color: #d6d6d6;
    width: 180px;
    font-family: Roboto-Regular, "Helvetica Neue", sans-serif;
    /*font-weight: bold;*/
    position: relative;
    border-radius: 0px !important;
   
}
.dataTables_wrapper .dataTables_filter input:focus{
    color: #000 !important;
    border-bottom: 1px solid #666;
    font-size: 13px !important;
}
.dataTables_filter:before{
    content: "\E91F";
    position: absolute;
    left: 7px;
    z-index: 1;
    font-family: 'icomoon' !important;
    color: #919191;
    font-size: 13px;
}   
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #0071bc !important;
    border: 0px solid #979797;
    background: none;
    background-color: #f8c35f;
    font-weight: bold;
    padding: 5px 25px 5px 25px;
    border-radius: 17px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color: #0071bc !important;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 7px 0 -2px 0;
}
.dataTables_wrapper .dataTables_info{
    color: #666;
    padding-top: 7px;
    font-size: 12px;
    font-weight: bold;
}
.previous {
    margin-right: 10px !important;
    text-transform: uppercase;
    font-size: 12px;
}
.next{
    margin-left: 10px !important;
}
.dataTables_filter label{
    font-size: 12px;
    color: #666;
    font-weight: bold;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #bdbcbc;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    color: #0071bc !important;
    font-weight: bold !important;
    margin-left: 8px !important; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #0071bc !important;
    border: 1px solid transparent !important;
    background-color: transparent !important;
    background: transparent !important;
    box-shadow: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    border: 0px solid #979797 !important;
    background-color: #f8c35f !important;
    box-shadow: none !important;
} 
table.dataTable thead .sorting_asc {
    background-image: url(../images/sort-asc.png) !important;    
}
table.dataTable thead .sorting_desc {
    background-image: url(../images/sort-des.png) !important;    
}
table.dataTable thead .sorting{
    background: url(../images/sort.png) right  center no-repeat !important;    
}
.facility-master-table table.dataTable tbody td, .facility-master-table table.dataTable thead th{
    padding: 8px 13px;
}
.dataTables_length{
    display: none;
}
.hide-table-search .dataTables_filter{
    display: none;
}
/**************  Customize Table Style ***************/

/**************  Customize PrimeNg Table  **************/

.mdl-data-table th{
    height: 43px;
}
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    border-color: inherit;
    padding: 8px 18px;
    text-align: left;
    border: 0px solid #ccc;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}
.ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    border-bottom: 1px solid #bdbcbc;
}
.ui-widget-content, .mdl-data-table{
    border: 0px solid #D5D5D5;
}
.ui-datatable th.ui-state-default {
    background: transparent;
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
}
.ui-datatable th.ui-sortable-column:not(.ui-state-active):hover{
    background: transparent;
}
.ui-datatable tbody > tr.ui-widget-content.ui-datatable-even{
        background-color: #e6e6e6;
}
.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd{
        background-color: #fff;
}
.primeng-table-search .mat-input-element {
    color: #666 !important;
    width: 200px;
    border: none;
    border-bottom: 1px solid #666;
    font-size: 13px;
    font-weight: bold;
    font-family: Roboto-Regular;
    margin-bottom: 15px;
    margin-top: 10px;
    float: right;
}
.fa-sort:before{
    content: " ";
    width: 12px;
    height: 14px;
    background: url(../images/sort.png) right  center no-repeat !important; 
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.fa-unsorted:before, .fa-sort-asc:before{
    content: " ";
    width: 12px;
    height: 14px;
    background-image: url("../images/sort-asc.png") !important;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.fa-sort-down:before, .fa-sort-desc:before{
    content: " ";
    width: 12px;
    height: 14px;
    background-image: url("../images/sort-des.png") !important;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.ui-datatable .ui-sortable-column-icon {
    display: inline-block;
    margin-left: .125em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 15px;
    width: 12px;
    margin: auto;
}
.ui-paginator .ui-paginator-page.ui-state-active, .ui-paginator .ui-paginator-page {
    background: #f8c35f;
    color: #0071bc;
    border-color: #f8c35f;
    border-radius: 34px;
    font-size: 14px;
    font-family: Roboto-Regular, "Helvetica Neue", sans-serif !important;
    font-weight: bold;
    padding: 5px 25px;
}
.ui-paginator .ui-paginator-page{
    background-color: transparent;
    border-color: transparent;
}
.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover{
    border-color: transparent;
    background: transparent;
    color: #0071bc;
}
.ui-paginator{
    text-align: right;
}
.ui-widget-header {
    border: 0px solid #d9d9d9;
    background: transparent !important;
    color: #666;
    font-weight: normal;
    margin-top: 23px !important;
    width: 50%;
    float: right;
}
 .table-left-col {
    color: #666;
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
}
.ui-datatable-emptymessage{
    text-align: center !important;
}
.ui-paginator-last, .ui-paginator-first{
    display: none !important;
}
.fa-forward:before {
    content: "NEXT";
    color: #0071bc;
    font-size: 12px;
    font-family: Roboto-Regular;
    font-weight: bold;
}
.fa-backward:before {
    content: "PREVIOUS";
    color: #0071bc;
    font-size: 12px;
    font-family: Roboto-Regular;
    font-weight: bold;
}
.ui-paginator-prev{
    margin-right: 20px;
}
.ui-paginator-next.ui-state-disabled{
    margin-left: 15px;
    opacity: 1;
}
.ui-paginator-prev.ui-state-disabled{
    margin-right: 15px;
    opacity: 1;
}
.ui-widget-header .ui-state-default, .ui-widget-content .ui-state-default, .ui-state-default{
    border: none;
}
p-paginator .ui-widget-header{
    margin-top: 12px !important;
}
.document-btn{
    background: none;
    border: none;
    float: left;
    /*width: 15px;*/
}
.mat-focused .mat-input-placeholder.mat-float, .mat-input-placeholder.mat-float:not(.mat-empty){
    transform: translate3d(0,-1.25em,0) scale(.95) !important;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder{
    transform: translate3d(0,-1.25em,0) scale(.95) !important;
}
.mat-form-field-underline {
    background-color: #666;
}
/**************  Customize PrimeNg Table  **************/

/*********  Common Style  **************/
.text-white{
    color: #fff;
}
.bottom-align{
   align-self: flex-end;
   -ms-flex-item-align: end;
}
.vertical-center{
   align-self: center;
   -ms-flex-item-align: center;
}
.text-left{
   text-align: left;
}
.text10{
    font-size: 10px;
}
.text9{
    font-size: 9px;
}
.text11{
    font-size: 11px;
}
.text14{
    font-size: 14px;
}
.text16{
    font-size: 16px;
}
.text18{
    font-size: 18px;
}
.text20 {
    font-size: 20px;
}
.text22{
    font-size: 22px;
}
.text24{
    font-size: 24px;
}
.text27{
    font-size: 27px;
}
.green-text{
    color: #008690;
}
.marginb10{
    margin-bottom: 10px;
}
.marginb15{
    margin-bottom: 15px;
}
.marginb20{
    margin-bottom: 20px;
}
.marginbottom{
    margin-bottom: 5%;
}
.margTB20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.marginT20{
    margin-top: 20px;
}
.margT0{
    margin-top: 0px;
}
.margT5{
    margin-top: 7px !important;
}
.margT{
    margin-top: 10px;
}
.margT15{
    margin-top: 15px;
}
.margT25{
    margin-top: 25px;
}
.margL25{
    margin-left: 25px !important;
}
.margR25{
    margin-right: 25px  !important;
}
.margL20{
    margin-left: 20px !important;
}
.margR10{
    margin-right: 10px  !important;
}
.margR15 {
    margin-right: 15px;
}
.margB5{
    margin-bottom: 5px;
}
.margB10{
    margin-bottom: 10px;
}
.nopadding{
    padding: 0px;
}
.padd15{
    padding: 15px;
}
.padd10{
    padding: 10px;
}
.paddL0{
    padding-left: 0px;
}
.paddTB0{
    padding-top: 0px;
    padding-bottom: 0px;
}
.paddT5{
        padding-top: 5px;
}
.paddT15{
        padding-top: 15px;
}
.paddB0{
    padding-bottom: 0px;
}
.paddL10{
    padding-left: 10px;
}
.paddLR10{
    padding-left: 10px;
    padding-right: 10px;
}
.paddLR15{
    padding-left: 15px;
    padding-right: 15px;
}
.paddTB5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.nomargin{
    margin: 0px !important;
}
.margTB0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.margB0{
    margin-bottom: 0px;
}
.margin5{   
    margin-top: 5%;
}
.margL10{
    margin-left: 10px;
}
.spacer{
    flex: 100 0 auto;
}
.right-align-btn{
    float: right; 
}
.text-center{
    text-align: center;
}
.text13{
    font-size: 13px;
}
.font-normal{
    font-weight: normal;
 }
.nomarnopaddbottom{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
md-nav-list a{
    color: #fff !important;
    text-decoration: none;
}
.left-input-col{
    margin-left: 0;
}
.right-input-col{
    margin-right: 0;
    margin-left: 24px;
}
.small-btn.mat-raised-button{
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid #0071bc;
    color: #0071bc !important;
    font-size: 12px !important;
    line-height: 20px;
    margin: 0 !important;
    box-shadow: none !important;
}
.small-btn:hover{
    color: #fff !important;
}
my-date-picker .mydp{
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    margin-top: -2px;
}
.small-col{
    width: 75px;
}
.small-input{
    width: 40px !important;
}
.user-profile-pic .material-icons{
    color: #666;
}
.small-text{
    color: #666;
    font-size: 11px;
    font-weight: bold;
}
.table-btn.mat-raised-button{
    border-radius: 17px;
    box-shadow: none;
    margin-right: 7px !important;
    top: -2px;
}
.table-btn.mat-raised-button:hover{
    background-color: #006837;
    border: 1px solid #006837;
    color: #fff;
}
.table-btn.mat-raised-button.disabled{
    opacity: 0.5;
}
.vertical-divider{
    margin:  0 5px;
    color: #cecece;
}
.green-text .disabled{
    opacity: 0.5;
}
.blue-btn.mat-raised-button{
    background-color: #0071bc;
    border: 1px solid #0071bc;
    color: #fff !important;
    min-width: 50px;
    padding: 3px 0;
}
.green-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.green-radio .mat-radio-container .mat-radio-inner-circle{
    background-color: #12c1a0 !important;
}
.benefit-details md-radio-group{
    float: left;
    margin: 0;
}
.benefit-details span{
    float: left;
}
.benefit-details .small-input{
    margin-top: -11px;
    margin-left: 10px;
}
.benefit-details .md2-select-trigger{
    min-width: 75px;
    font-size: 11px !important;
    height: 20px;
}
.coverage-chekcbox{
    margin-left: 6px;
    margin-top: -2px;
}
.user-list-row{
    margin-top: 10px;
    background-color: #f2f2f2;
}
.detail-header{
    height: 25px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    line-height: 25px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #666;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #666;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #666;
}
:-moz-placeholder { /* Firefox 18- */
    color: #666;
}

/*********  Common Style  **************/

/*************  Change Language Style  *****************/

.myBtn{
    background-color: #008690;
    border-color: #008690;
	border-radius:0;
}
.slect-lang-label{
    color: #4a535c;
    font-size: 14px;
    font-family: Roboto-Regular;
    float: right;
}
.country-flag{
	float: right;
    width: 17px;
    height: 11px;
    margin: 4px 6px 0 6px;
}
.flag {
    top: -3px;
    position: relative;
}
.change-lang-btn{
    float: right;
    padding: 2px 8px 2px 8px !important;
    font-size: 12px;
    font-family: Roboto-Regular;
    cursor: pointer;
    border-radius: 3px !important;
    color: #fff;
    margin: -2px 0 0 6px;
}
.language-list-block{
	float: right;
    position: absolute;
    right: 55px;
    width: 185px;
    border: 1px solid #068f9c;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #4a535c;
    top: 21px;
    border-radius: 10px 3px 10px 10px;
    background-color: #fff;
    z-index: 2;
}
.language-list{
    float: left;
    width: 100%;
    padding: 7px  0 5px 10px;
    cursor: pointer;
}
.language-list:hover{
    background-color: #e5e5e5;
}
.active-language-list{
    /*background-color: #e5e5e5;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 2px;*/
}
.language-list .country-flag{
	float: left;
}
.language-list:FIRST-CHILD {
	border-radius: 10px 3px 0 0; 
}
.language-list:LAST-CHILD {
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 0px; 
}

/*************  Change Language Style  *****************/
.toggle-icon{
    display: none;
    position: relative;
    left: 20px;
    top: 0;
    z-index: 5;
}
.dataTables_wrapper {
 /*   zoom: 0;*/
}
.add-qle-input:nth-child(even) {
    margin-right: 0;
    margin-left: 24px;
}
.value{
    float: left;
    min-width: 58px;
    text-align: right;
}
.legend-square{
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 0 25px;
}
.legend-row:nth-child(1){
   /* margin-top: 40px;*/
}
.legend-row{
    padding-left: 15px;
}
.blue-legend{
    background-color: #33a8ee;
}
.green-legend{
    background-color: #5dc178;
}
.yellow-legend{
    background-color: #fecd42;
}
.red-legend{
    background-color: #f1674a;
}
.mail-row .link{
    color: #0071bc;
    margin-left: 5px;
}
.mat-raised-button.reply-btn{
    min-width: 45px;
    line-height: 23px;
    padding: 0px 15px;
}
.mat-raised-button.delete-btn{
    background-color: #fff;
    color: #008690 !important;
    border: 1px solid #008690;
    min-width: 45px;
    margin-left: 15px;
    line-height: 22px;
    padding: 0px 15px;
}
.mail-row{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.mail-content{
    float: left;
    margin-left: 25px;
}
.message-icon .material-icons{
    color: #bababa;
    float: left;
}
.mail-btn-row{
    float: left;
    width: 100%;
}
.small-legend-square{
    width: 10px;
    height: 10px;
    margin: 5px 10px 0 2px;
}
.employer-graph, .payroll-systems-graph{
    margin-left: 20px;
    margin-right: 15px;
    margin-top: -25px;
}
.graph-divider{
    position: relative;
    z-index: 1;
    width: 1px;
    background-color: #ccc;
    left: 21px;
    height: 160px;
    margin-top: -20px;
}
.plan-details-content{
    padding-left: 10px;
    border-left: 1px solid #ccc;
}
.blue-background{
    background-color: #d3e2e0;
    border: 1px solid #008690;
}
.employer-col, .payroll-col, .dashboard-col{
    width: 290px;
}
.cost-table-scroll{
    overflow: auto;
}
.main-page-loader{
    position: absolute;
    left: 0px;
    right: 0px;
    height: 50px;
    bottom: 0px;
    margin: auto;
    top: 0px;
    width: 100%;
    text-align: center;
}
#communicationemail .mat-checkbox-label{
    line-height: 12px;
    margin-top: 5px;
    margin-left: 5px;
}
.health-history-modal{
    float: left !important;
    height: 402px !important;
}
.loding-failed-image{
    background-color: #f7f7f7;
}
.mat-checkbox-checked .mat-checkbox-label{
    color: #000;
}
.avl-benefits{
    max-height: 250px;
    overflow: auto;
    min-height: 55px;
}
.enrollment-list{
    display: flex;
    width: 100%;
}
.teladoc-text{
    color: #5c2f92;
    font-weight: 600;
    text-shadow: none;
    width: 100%;
    float: left;
}
employee-navbar{
    position: fixed !important;
    top: 65px !important;
}
dependent-dialog.dialog-panel{
    float: left;
    height: 450px;
    overflow: auto;

}
.add-beneficiary-row .mat-checkbox{
    position: relative;
    top: 9px;
}
.add-beneficiary-row .mat-checkbox-layout .mat-checkbox-label{
    line-height: 14px;
    font-size: 13px;
}
questionare-dialog form{
    float: left;
    width: 605px;
}
.std-plan-row{
    position: relative;
}
.std-modal{
    position: absolute;
    margin: 4px 0 0 -44px;
    width: 100%;
    left: 0;
}
questionare-dialog.health-history-modal{
    min-height: 150px !important;
    max-height: 402px !important;
    height: inherit !important;
}
.toolbar-profile-icon{
    height: 40px;
    width: 40px;
    position: relative;
    background-color: #d8d7d6;
    top: 2px;
}
.toolbar-right-col img:not([src]){ 
    visibility: hidden;
}
.teladoc-row{
    min-height: 50px;
    padding-top: 15px;
}
.plan-radio .mat-radio-container{
    top: -10px;
}
.max-annual-contribution{
    position: relative;
    top: -10px;
}
.mat-slider-disabled .mat-slider-thumb, 
.mat-slider-disabled .mat-slider-track-background, 
.mat-slider-disabled .mat-slider-track-fill {
    background-color: rgba(0,0,0,.15);
}
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: #018591;
}
.mat-slider-track-wrapper, .mat-slider-horizontal .mat-slider-ticks {
    background-color: rgba(0,0,0,.15) !important;
    height: 5px !important; 
}
.mat-slider-horizontal {
    margin: 0 5px 0 5px;
}
.mat-slider-horizontal .mat-slider-track-background{
    height: 5px !important;
}
.mat-slider-horizontal .mat-slider-track-fill {
    height: 5px !important;
}
.mat-accent .mat-slider-track-fill {
    background-color: #12c1a0;
}
.mat-slider-disabled .mat-slider-thumb {
    transform: scale(.7) !important;
}
.mat-slider-disabled .mat-slider-thumb{
    background-color: #008690 !important;
}
.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #12c1a0 !important;
}
.fixed-header .left-panel{
    position: fixed;
    top: 65px;
}
.mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
    border-radius: 0% 0% 0 !important;
}

.mat-slider-horizontal.cdk-focused .mat-slider-thumb-label {
    transform: rotate(0deg) !important;
}
.mat-slider-horizontal .mat-slider-thumb-label-text {
    transform: rotate(0deg) !important;
}
.mat-slider-horizontal .mat-slider-thumb-label {
    top: -30px !important;
}
.mat-slider-thumb-label {
    min-width: 28px !important;
    width: auto !important;
    height: 22px !important;
    padding: 0 7px 0 7px;
}
.mat-slider-thumb-label{
    transition: none !important;
}
.mat-slider-horizontal.cdk-focused .mat-slider-thumb-label{
      /*  -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;*/
} 
.disabled-block .whole-life-child{
    display: none;
}

/*************  Loader CSS  ****************/
.page-content-loader{
    top:-70px !important;
}
.content-loader{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 9;
}
.loader-outer{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.loader-circle{
        -webkit-animation-name: spin;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1.5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.loader-leaf{
    position: absolute;
    width: 18px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/*************  Loader CSS  ****************/

/*************  Responsive Style  *********************/
    @media (max-width:1024px) {
            .payroll-col{
                margin-top: 25px;
            }
            .employer-col, .payroll-col {
                margin-top: 30px;
            }
            .graph-divider {
                margin-top: 10px;
            }
            .search-map-benefit{
                width: 100% !important;
            }
            .select-map-benefit{
                width: 100% !important;
                display: flow-root;
            }
            .select-map-benefit .marginT20{
                margin-top: 0px !important;
                width: 97px;
                float: right;
                margin-right: 0;
            }
    }

    @media (max-width:979px){
        .toggle-icon{
            display: block;
            left: 260px;
            top: 3px;
        }
        .toggle-icon .material-icons{
            font-size: 30px;
            color: #006575;
        }
        .left-panel{
            transition: margin-left 0.5s;
            width: 240px;
            margin-left: -241px;
            z-index: 2;
            position: fixed;
            top: 65px;
        }
        .right-panel {
            margin-left: 0;
            padding: 0 15px !important;
        }  
        .left-panel.collapse-sidebar{
            margin-left: 0px;
            z-index: 2;
        }   
        .dataTables_wrapper {
            zoom: 0;
            overflow-x: auto;
            overflow-y: hidden;
        }
        .home-button.mat-raised-button{
            padding: 0 10px;
        }
         .add-carrier-form .right-input-col, .add-carrier-form .left-input-col{
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
        }
        .mdl-textfield {            
            width: 100%;
        }
        .logo {
            width: 240px;
            position: absolute;
        }
        .dataTables_wrapper .dataTables_filter{
            text-align: right;
            width: 180px;
            float: right;
        }        
        table.dataTable {
            width: 979px !important;
        }
        .small-table table.dataTable{
            width: 100%;
        }
        .hidden-tablet-content{
           display: none;
        }
        .hide-spacer{
            display: none;
        }
        .full-div{
            width: 100%;
        }
      
    }


@media (max-width: 767px){
    .user-detail-col{
        width: 100% !important;
    }
    .hidden-mobile-content{
        display: none;
    }
    .full-width-col{
        width: 100% !important;
    }
    .enrollment-left-col{
         width: 100% !important;
         margin-right: 0; 
    }
    .enrollment-right-col{
         width: 100% !important;
         margin-left: 0 !important; 
         margin-top: 25px;
    }
    .edit-enrollment-table tbody td{
        display: flex;
    }
    .total-count{
        width: 30%;
        float: left;
    }
    .dataTables_empty{
        padding-left: 0px !important;
    }
    .wave-btn{
        text-align: left !important
    }
    .remove-padd{
        padding: 0 15px !important;
    }
    .login{
        overflow-x: hidden;
        overflow-y: auto;
    }
    .forgot-page-footer{
        bottom: inherit !important;
    }
    .login-page-footer{
        bottom: inherit !important;
    }
    .benefit-image{
        display: none
    }
    .enrollment-list{
        display: block;
    }
    .romove-marg{
        margin-left: 0px !important;
    }
    .benefit-name{
        text-align: left !important;
    }
    employee-navbar {
        top: 60px !important;
    }
    .inch{
        margin-left: 0;
        margin-top: 20px;
    }
    dependent-dialog.dialog-panel{
        width: 100%;
    }
    .remove-marg{
        margin-left: 0px !important
    }
    .margTB20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .five-col-tab{
        width: 100%;
    }
    .five-col-tab .triangle-left{
        display: none;
    }
    .small-btn.mat-raised-button.map-division-btn{
        display: block !important;
        width: 110px;
        margin: 5px 0 5px 0 !important;
    }
    .emp-enrollment-R-col{
        margin-left: 10px;
        width: 100%;
    }
}


@media (max-width: 600px){
        .logo {
            position: absolute;
            width: 100%;
        }
        .toggle-icon {
            top: 0;
            right: 1px;
            left: 87% !important;
        }
        .toolbar-right-col{
            width: 100%;
            position: absolute;
            margin-top: 58px;
            background-color: #fff;
            left: -8px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }
        .mat-card {
            margin-top: 130px;
        }
        .left-panel {
            top: 61px;
        }
        .toggle-icon .material-icons {
            color: #fff;
        }
        .input-col{
            width: 100%;
            margin-left: 0px;
        }
        .emp-dashboard-block{
             margin-top: 130px;
        }
        .emp-dashboard-block .mat-card{
            margin-top: 15px;
        }  
        .enrollment-master-tab{
            width:100% !important;
        }          
        .enrollment-master-tab .triangle-left{
            display: none !important;
        }
        .carrier-right-col, .add-carrier-form{
            width: 100% !important;
            margin-left: 0px;
        }
        .plan-tabs{
            font-size: 14px !important;
            padding: 0 5px;
        }
        .login{
            width: 100% !important;
            max-width: 100% !important;
        }  
        .health-history-modal {
            height: 423px !important;
        }
        .mat-dialog-container{
            width: 90vw;
        }
        .margTB20 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
}

    @media (max-width: 479px){
        .employee-form .right-input-col, .employee-form .left-input-col,
        .add-carrier-form .right-input-col, .employee-form .add-carrier-form, .form-layout .input-col,
         .mat-card.left-input-col, resource-library .left-input-col{
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
        }
        .add-qle-input:nth-child(even), .add-qle-input:nth-child(odd), .form-layout .input-col {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        .employer-col, .payroll-col, .dashboard-col {
            width: 335px;
            margin-left: auto;
            margin-right: auto;
        }
        .legend-row{
            text-align: left !important;
        }
        .graph-divider{
            /*display: none;*/
                width: 90%;
                margin-top: 20px;    
                margin-bottom: 10px;    
                height: 1px;
        } 
        
        .form-layout .input-col:nth-child(even){
            width: 100%;
            margin-left: 0px !important;
        }     
        .health-history-col{
            position: absolute;
            margin-top: -30px;
            right: 15px;
        }
        .premium{
            margin-top: 10px;
        }
        .wave-btn {
            float: left;
            margin: 5px 10px 12px 0px;
        }
        emp-parent-enrollment .section-footer{
            height: 90px;
        }
         emp-parent-enrollment .section-footer button{
             margin-top: 10px;
         }
         .add-custom-type-col{
             width: 200px;
             margin-bottom: 15px !important;
         }
    }


@media ( min-width:320px ) and ( max-width:479px ){
    view-plan .tab-row{
        display: inherit;
        height: inherit;
        min-height: 41px;
        float: left;
        width: 100%;
    }
    .plan-tabs{
        width: 49%;
        float: left;
        margin-right: 2px;
        height: inherit;
    }
    .tab-container{
        display: inline-block;
        width: 100%;
    }
    emp-parent-enrollment .section-footer button{
        margin: 0px !important;
        margin-left: 8px !important;
        font-size: 11px !important;
        padding: 0px 10px 0px 10px !important;
    }
    .break-date{
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }
}

/*************  Responsive Style  *********************/
.enrollment-master-tab.active-tab {
    /*position: relative;
    left: 3px;
    margin-right: -2px;*/
}

@media(max-width:800px){
    .responsive-table .odd td, .responsive-table .even td{
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
        display: block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        min-height: 1em;
    }
    .responsive-table .odd td::before, .responsive-table .even td::before{
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        content: attr(title);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    table.dataTable thead th{
        display: none;
    }
    table.responsive-table{
        width: 100% !important;
    }
}
table.dataTable{
    width: 100% !important;
}
.aflacinput{
  border: solid #c1bdbd 0.5px;
}

.step-count{
    float: left;
    margin: 0 3px 4px 0;
}
.content-loader-wrapper{
    position: fixed;
    z-index: 999999;
    width: 217px;
    left: 0;
    right: 0;
    bottom: 0;
    top: -50px;
    margin: auto;
    height: 15px;
    text-align: center;
    font-size: 12px;
}
.progress-bar-text{
    position: absolute;
    color: #fff;
    z-index: 9999;
    width: 100%;
}

/**********************/
.ngx-pagination{
    margin-bottom: 0px !important;
}
.pagination-previous span, .pagination-next a, .pagination-next.disabled {
    padding: 0.5em 1em;
    font-size: 12px;
    text-transform: uppercase;
    color: #0071bc !important;
    font-weight: bold;
}
.ngx-pagination .current {
    padding: 3px 25px 3px 25px !important;
    background: #f8c35f !important;
    color: #0071bc !important;
    cursor: default;
    border-radius: 17px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before, .pagination-next.disabled::after{
    content: '' !important;
}
.employee-table .dataTables_info, .employee-table .dataTables_paginate{
    display: none;
}
.minimize-popup{
    margin: -24px -24px 12px -24px;
    padding: 10px 15px 0 0;
    text-align: right;
    color: #fff;
    background-color: #dad9d9;
    height: 38px;
    position: relative;
}
.minimize .minimize-popup{
    margin: -24px 0px 12px 0px;
    width: 100%;
    background-color: #008690;
    border-bottom: 1px solid #b1b1b1;
}
.help-dialog-container .minimize{
    position: absolute;
    width: 250px !important;
    height: 40px !important;
    overflow: hidden;
    right: 0;
    bottom: -2px;
    background-color: #008690;
    padding: 24px 0 0 0;
}
.mainimize-icon{
    position: absolute;
    margin: -8px 0px 0 -27px;
    font-size: 31px;
    color: #666;
}
.maximize-icon{
    display: none;
}
.minimize .maximize-icon{
    display: block;
    color: #fff;
}
.minimize .mainimize-icon {
    display: none;
}
.minimize-popup-title{
    display: none;
}
.minimize .minimize-popup-title{
    display: block;
    color: #fff;
    float: left;
    margin: 0px 0 0 15px;
} 

.sub-list-panel{
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}